.git
.gitignore

# Dep & build outputs
node_modules
dist
build
coverage
*.log

# Editor & caches (opsional, disarankan)
.vscode
.idea
.eslintcache
.stylelintcache
.cache
.vite

# Docker aux
Dockerfile*
docker-compose*
npm-debug.log

# Env
.env
.env.*